/* src/App.css */
@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  background-color: #222; 
  color: #F3931B;
  overscroll-behavior: none; 
  height: 100%;
  width: 100%;
  position: fixed; 
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100svh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  width: 100%;
  max-width: 430px;
  height: 95vh;
  background-color: #1a1a1a;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 40px; 
  border: 8px solid #333;
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  overflow: hidden;
}


@media (max-width: 500px) {
  .app-container {
    max-width: 100%;
    height: 100dvh; 
    border: none;
    border-radius: 0;
  }
}

.full-screen-rive {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
  z-index: 0; 
}

.main-content {
  /* 1. REMOVE `position: relative;` from here */
  flex: 1;
  width: 100%;
  padding: 0;
  overflow-y: auto;
  padding-bottom: 80px;
  text-align: center; 
}

h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 40px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding-bottom: env(safe-area-inset-bottom);
  box-sizing: content-box; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #222;
  border-top: 1px solid #444;
  z-index: 1000;
}

.footer-button {
  color: #888;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.1s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  height: 100%;
  justify-content: center;
  padding: 0; 
  -webkit-tap-highlight-color: transparent; 
}

.footer-button.active,
.footer-button:active {
  color: #F3931B !important;
}

.app-header {
  width: 100%;
  background-color: #222;
  padding-top: env(safe-area-inset-top); 
  margin-top: -1px; 
  padding-top: calc(env(safe-area-inset-top) + 1px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  border-bottom: 2px solid #333;
}

.header-mockup {
  height: 25px; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F3931B;
  font-weight: 900;
  letter-spacing: 4px;
  position: relative;
  top: -5px; /* Positive numbers move it DOWN. Negative (e.g., -2px) move it UP. */
}